body {
	margin: 0;
	padding: 0;
	font-family: Arial;
	background-color: #001b2e;
}

body > header,
body > footer,
body > section {
	color: #fff;
	padding: 40px 20px;
	display: flex;
	align-items: center;
	flex-direction: column;
}

/* --- */

.Content {
	width: min(1024px, 100%);
}

ul, ol {
	padding-top: 20px;
	border-top: 1px solid rgba(255, 255, 255, 0.25);
}

li {
	padding: 10px 0;
}

a {
	color: #fff;
	font-weight: bold;
}

h2 { margin-bottom: 0px; text-align: left; }
h3 { margin-bottom: 0px; color: #9ad9ff; }
h4 { margin-bottom: 0px; color: #f8a01d; }

code {
	padding: 2px 5px;
	background: rgba(255, 255, 255, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 2px;
}

/* --- */

.DeviceInfo {
	padding: 20px;
	margin-top: 20px;
	background: rgba(255, 255, 255, 0.1);
	border: 2px solid rgba(255, 255, 255, 0.2);
	border-radius: 10px;
}

ul ul,
ul ol,
ol ul,
ol ol {
	border: none;
	padding-top: 10px;
}

ul ul li,
ul ol li,
ol ul li,
ol ol li {
	padding: 5px 0;
}

/* --- */

#LogoImage {
	margin-bottom: 20px;
}

#MainLinks {
	display: flex;
	flex-wrap: wrap;
}
#MainLinks > div {
	padding: 0px 12px;
	border-right: 1px solid #000;
}
#MainLinks > div:last-child {
	border: none;
}

#MainLinks > div > a {
	color: #f8a01d;
	padding: 10px 20px;
	border-radius: 5px;
	font: 25px bold;
	text-decoration: none;
	display: flex;
	align-items: center;
}
#MainLinks > div > a:hover {
	color: #000;
	background: #fff;
}

#Link_Download { mask-image: url(Assets/Download.svg); }
#Link_OneDrive { mask-image: url(Assets/OneDrive.svg); }
#Link_GitHub { mask-image: url(Assets/GitHub.svg); }
#Link_Discord { mask-image: url(Assets/Discord.svg); }

/* #TEST {
	width: 600px;
	height: 600px;
	background: url(Assets/Discord.png);
	mask-image: url(Assets/Discord.png);
	mask-size: cover;
	mask-mode: luminance;
	mask-repeat: no-repeat;
} */

.LinkIcon {
	width: 32px;
	height: 32px;
	margin-right: 8px;
	display: inline-block;
	background: #eb4f02;

	mask-size: cover;
	/* mask-mode: luminance; */
	mask-repeat: no-repeat;
	mask-position: center;
}

a:hover > .LinkIcon {
	background-color: #000;
}

/* --- */

.Head { padding-bottom: 0; }
.Foot { padding-top: 0; }

#Description {
	color: #9ad9ff;
	padding: 80px 0;
	text-align: center;
	/* background: #000; */
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.35));
}

#Description p {
	margin: 12px 24px;
	font-size: 20px;
}

/* --- */

#Overview {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 1));
}
#Overview > .Content {
	display: flex;
}

#KeyFeatures {
	color: #fcba53;
	margin-right: 20px;
}
#KeyFeatures ul {
	border-color: #fcba53;
}

#WorkingHardware {
	color: #f7e2be;
}
#WorkingHardware ul {
	border-color: #f7e2be;
}

/* --- */

#HowToInstall {
	color: #000;
	/* background: #c1350e; */
	background: linear-gradient(0deg, #f58001, #fdc169);
}

#PostInstallNotes {
	color: #000;
	/* background: #fd9623; */
	background: linear-gradient(0deg, #c1350e, #f58001);
}

#HowToInstall a,
#PostInstallNotes a {
	color: #000;
}

#HowToInstall ul,
#HowToInstall ol,
#PostInstallNotes ul,
#PostInstallNotes ol {
	font-weight: bold;
	border-color: #000;
}

#Troubleshooting {
	background: #000;
}

#DeviceFixes {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

/* --- */

.Border {
	height: 2px;
	background: linear-gradient(90deg, rgba(0, 0, 0, 0), #9ad9ff, rgba(0, 0, 0, 0));
}

footer {
	height: 150px;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), #000);
}